$zt_color_white           = #ffffff   // main bg\text
$zt_color_whitesmoke      = #f5f5f5   // block bh
$zt_color_firebrick       = #c80e0f   // red insert\text
$zt_color_lightgray       = #c9c9c9   // border
$zt_color_darkslategray   = #424242   // menu bg
$zt_color_darkslategray2  = #6f6f6f   // menu text
$zt_color_lowblack        = #333333   // text
$zt_color_black           = #000000   // text
$zt_color_blue            = #199de8   // blue text\link